@media (min-width: 1200px) {
    section {

        display: flex;
        justify-content: space-around;
        flex-direction: row;

    }

    section div {
        width: 50%;
    }


    section h1 {
        font-size: 90px;
        /* padding: 50px;
    width: 50%;
    margin-left: 70px; */
    }

    section img {
        width: 100%;


        /* margin-left: -120%; */
        margin-top: 80px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    section {

        display: flex;
        justify-content: space-around;
        flex-direction: row;

    }

    section div {
        width: 50%;
    }


    section h1 {
        font-size: 80px;
        /* padding: 50px;
        width: 50%;
        margin-left: 70px; */
    }

    section img {
        width: 100%;


        /* margin-left: -120%; */
        margin-top: 80px;
    }
}



@media (min-width: 768px) and (max-width: 991.98px) {
    section {


        flex-direction: column;

    }

    section img {
        width: 100%;
    }

    section h1 {
        font-size: 40px;
        /* padding: 50px;
        width: 50%;
        margin-left: 70px; */
    }

    section div {
        width: 100%;
    }

    @media (max-width: 575.98px) {
        section {


            flex-direction: column;

        }

        section img {
            width: 100%;
        }

        section h1 {
            font-size: 70px;
            /* padding: 50px;
        width: 50%;
        margin-left: 70px; */
        }

        section div {
            width: 100%;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    section {


        flex-direction: column;

    }

    section img {
        width: 100%;
    }

    section h1 {
        font-size: 40px;
        /* padding: 50px;
        width: 50%;
        margin-left: 70px; */
    }

    section div {
        width: 100%;
    }

    @media (max-width: 575.98px) {
        section {


            flex-direction: column;

        }

        section img {
            width: 100%;
        }

        section h1 {
            font-size: 40px;
            /* padding: 50px;
        width: 50%;
        margin-left: 70px; */
        }

        section div {
            width: 100%;
        }
    }
}